@inject SignInManager<ApplicationUser> signInManager
@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_NewLayout";
    var count = 0;
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-home icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                Dashboard
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
        <div class="alert alert-danger fade show" id="violation-alert" role="alert" style="left: 23%;margin-top: 10px;display:none;">Hey There, you should not be trading now as this time isn't with in your trading window!</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h4>    Total Pairs</h4></div>
                    <div class="widget-subheading"></div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>@Model.Pairs.Count()</span></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h4>Total Wins</h4></div>
                    <div class="widget-subheading"></div>
                </div>
                <div class="widget-content-right">
                    @if (Model.TradeWins == null || Model.TradeWins.Count() == 0)
	                {
                    <div class="widget-numbers text-white"><span>--</span></div>
	                }
                    <div class="widget-numbers text-white"><span>@Model.TradeWins.Count()</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h4>Total Losses</h4></div>
                    <div class="widget-subheading"></div>
                </div>
                <div class="widget-content-right">
                    @if (Model.TradeLosses == null || Model.TradeLosses.Count() == 0)
                    {
                        <div class="widget-numbers text-white"><span>--</span></div>
                    }
                    <div class="widget-numbers text-white"><span>@Model.TradeLosses.Count()</span></div>
                </div>
            </div>
        </div>
    </div>*@

</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                BRIEF OVERVIEW OF ANALYSIS
                <div class="btn-actions-pane-right">
                    
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="table1">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Time Of Trade</th>
                            <th class="text-center">Pair</th>
                            <th class="text-center">Strategies</th>
                            <th class="text-center">Trade Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @if (Model.AnalysisDetails.Count == 0)
                        {
                        <tr>
                            <td>
                              
                            </td>
                            <td>
                               
                            </td>
                            <td>
                                <h4 class="text-center">No record added yet <a class="btn btn-outline-success">Add here</a></h4>
                            </td>

                        </tr>
                        }

                        @foreach (var item in Model.AnalysisDetails)
                        {

                            count++;
                            <tr>
                                <td class="text-center text-muted">@count</td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="widget-content-left">
                                                    <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">@item.TimeOfTrade</div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">@item.PairPicked</td>
                                <td class="text-center">
                                    <div class="">@item.StrategyPicked</div>
                                </td>
                                <td class="text-center" id="status">
                                   @item.TradeStatus
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success"><i class="fa fa-arrow-alt-circle-right btn-icon-wrapper"> </i></button>
                <a asp-action="index" asp-controller="analysis" class="btn-wide btn btn-success">View All</a>
            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        //function checkStats() {

        //    //var cells = document.getElementById("test").getElementsByTagName("td");
        //    //for (var i = 0; i < cells.length; i++) {
        //    //    if (cells[i].innerHTML == "Win" || cells[i].innerHTML == "win") {
        //    //        cells[i].style.color = "red";
        //    //    }
        //    //}
        //    alert("this loads")
        //}
        //$(function () {
        //    $("#table1 td").each(function () {
        //        if ($(this).text() == 'win' || $(this).text() == 'Win') {
        //            $(this).css('color', 'red');
        //        }
        //    });

        //});
       

              @*console.log(`@Model.TradingHours.EndTime:@Model.TradingHours.StartTime`);*@



    </script>
}