@model FormsViewModel
@{
    ViewData["Title"] = "Analysis Details";
    Layout = "_NewLayout";  
}


    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-chart-bar text-success"></i>
                    </div>
                    <div class="ml-3">
                        VIEW DETAILS
                        <div class="page-title-subheading"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Pre-Trade Check Form Details</h5>
                        <div class="mt-5 collapse show" id="collapseExample123" style="">

                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">

                                        <div class="position-relative form-group">
                                            <label class="label-title">What is your mental state</label>
                                            <h5 class="details">@Model.MentalState</h5>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">
                                                Have you already met your Daily Goal
                                            </label>
                                            <h5 class="details">@Model.MetDailyGoal</h5>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label class="label-title">
                                                Which pair is this based on?
                                            </label>
                                            <h5 class="details">@Model.PairPicked</h5>

                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">Do you accept you can lose this trade and promise not to move your stop loss</label>
                                            <h5 class="details">@Model.AcceptanceType</h5>
                                        </div>


                                    </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>
            <!-- Strategy form-->
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Strategy Form Details</h5>
                        <div class="mt-5 collapse show" id="collapseExample1" style="">

                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">



                                        <div class="position-relative form-group">
                                            <label class="label-title">What strategy is this trade based on?</label>
                                            <h5 class="details">@Model.StrategyUsed</h5>

                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">Can you confirm this trade meets the minimum criteria of your strategy?</label>
                                            <h5 class="details">@Model.TradingCriteria</h5>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label class="label-title">What target/exit strategy are you using for this trade</label>
                                            <h5 class="details">@Model.ExitStrategy</h5>

                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">Are you trading with the trend? Try to avoid ranging markets</label>
                                            <h5 class="details">@Model.TradingTrend</h5>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">What is the risk to reward ration on this trade</label>
                                            <h5 class="details">@Model.RewardRatio</h5>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">Why this particular trade? (Describe and include screenshot link if possible)</label>
                                            <h5 class="details">@Model.DescribeTrade</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>
</div>

        <div class="divider"></div>
        <div class="mt-4 app-page-title update-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-spinner text-success"></i>
                    </div>
                    <div class="ml-3">
                        UPDATE/CLOSE TRADE DETAILS
                        <div class="page-title-subheading"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- UPDATE FORM-->

        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Update/Close Trade Form Details</h5>
                        <div class="mt-5 collapse show" id="collapseUpdate" style="">

                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">

                                        <div class="position-relative form-group">
                                            <label class="label-title">Are you trading with the trend? Try to avoid ranging markets</label>
                                            <h5 class="details">@Model.TradeStatus</h5>
                                        </div>


                                        <div class="position-relative form-group">
                                            <label class="label-title">How much was made/lost on this trade</label>
                                            <h5 class="details">@Model.TradeOutcome</h5>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="label-title">What happened in this trade</label>
                                            <h5 class="details">@Model.ExplainTrade</h5>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label class="label-title">Notes</label>
                                            <h5 class="details">@Model.Note</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>

        </div>

        <div class="divider"></div>
        <div>
            <a asp-action="index" asp-controller="analysis" class="btn btn-danger w-100 mb-5">Go Back</a>
        </div>
        <div class="divider"></div>


