@model AnalysisViewModel
@{
    ViewData["Title"] = "Analysis Page";
    Layout = "_NewLayout";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div>
                    Trading Analysis
                    <div class="page-title-subheading"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time Of Trade</th>
                        <th>Pair</th>
                        <th>Strategy</th>
                        <th>Trade Status</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.FormData)
                    {
                        <tr>
                            <td>@item.TimeOfTrade</td>
                            <td>@item.PairPicked</td>
                            <td>@item.StrategyPicked</td>
                            <td><span class="text-warning" id="checkStatus">@item.TradeStatus</span></td>
                            <td> <a asp-action="editanalysis" asp-controller="analysis" asp-route-id="@item.FormId" class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-dark" asp-action="details" asp-controller="analysis" asp-route-id="@item.FormId">View</a><a class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>